<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	  <connectionStrings>
    <add name="spconn" connectionString="Data Source=www.tsu.edu.ph;Initial Catalog=TSUWebData;Persist Security Info=True;User ID=WEBLogin;Password=WebLogin!@#123" providerName="System.Data.SqlClient" />
    <add name="prismsconn" connectionString="Data Source=www.tsu.edu.ph;Initial Catalog=princetech_solutions;Persist Security Info=True;User ID=WEBLogin;Password=WebLogin!@#123" providerName="System.Data.SqlClient" />
  </connectionStrings>
	
    <system.web>
      <authentication mode="Forms" />
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" requestValidationMode="2.0"  />
   
    <membership>

      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="spconn" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="100" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="100" applicationName="/facultyportal" />

      </providers>

    </membership>

    <profile defaultProvider="AspNetSqlProfileProvider">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="spconn" applicationName="/facultyportal" />
      </providers>
      <properties>
        <add name="ScreenName" />
      </properties>
    </profile>
    <roleManager enabled="true">
       <providers>
          <clear />
          <add connectionStringName="spconn" applicationName="/facultyportal" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
          <add applicationName="/facultyportal" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
       </providers>
    </roleManager>
    <identity impersonate="false" />
    
	<webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices> 
	
	</system.web>
	

<appSettings>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
</appSettings>
	
 
	
</configuration>
